

DATABASE_URL="postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"


# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx

# URLs de redirection Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Webhook (pour la synchronisation avec Prisma)
CLERK_WEBHOOK_SECRET=whsec_xxxxx
# Stripe publishable key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_test_xxxxx'

# Application
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL="http://localhost:3000"
